
version = "1.0"

# The folder where to put temp data etc.
tmp_folder = "/home/aldric-vs/smart_drone_temp";

# All executables's paths used by the app
exe_paths: 
{
    path_saver = "/home/aldric-vs/COURS/M1/projet_synthese/repos/pds-path-saver/bin/pathSaver";
};

drone:
{
    test_connection = false;
    serial_path = "/dev/ttyUSB0";
    baudrate = 57600;
}

app:
{
    port = 6869;
}